@{
    ViewBag.Title = "About TekEngine";
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-6">
        <h3 class="text-muted">Our Mission</h3>
        <p>
            I created this business because I wanted to leverage my extensive experience in
            Technology and Business to benefit clients that do not have the budget to hire
            an expensive consulting firm to get valuable information they need to increase
            their probability of success.
        </p>
        <p>
            The tools and guidance that we provide here at TekEngine are not rocket science but these skills
            don't just come by chance. To be successful in today's market place you must not only be good
            at what you are selling but also be business-savvy enough to maintain and grow the business.
        </p>
        <p>We know that our clients are smart, they wouldn't have gotten to where they are if they were not on top of their game.</p>
        <p>
            But....sometimes it is not about smart it is about <b>time</b>. The time to investigate, to begin a market study, to create
            a digital storefront or document process work-flow and detail costs. This is where we believe TekEngine adds value. We offload
            the business owner so they can focus on running their business. <i> Time is our most precious commodity, let us
            help you use yours wisely to focus on what you do best.</i>
        </p>
        <p>
            Our consultants will ensure that you get value for your money by providing you with high-quality services for
            a more rounded view of your business.
        </p>
    </div>
    <div class="col-md-6">
        <h3 class="text-muted">About our Founder and General Manager</h3>
        <p>I am Larry Horton. I have been in technology for most of my adult life.As a young United States Marine, I worked as an Electronics technician.
        Upon honorable discharge from the Marines I embarked upon an education experience lasting 2 decades and covering 5 college degrees.</p>
        <ul>
            <li> Associate degree in Business Administration w/ focus on Accounting</li>
            <li> Associate of Science degree in Computer Engineering from Wake Technical College</li>
            <li>Bachelor of Science in Computer Science from NC Central University</li>
            <li>Master of Computer Science from NC State University</li>
            <li>Master of Business Administration from The Kenan-Flagler Business School; UNC at Chapel Hill</li>
        </ul>
        <p> I love technology and I love business. I worked for 20 years in the Telecommunications Industry as a Software Engineer and Program Manager,
        managing multi-million dollar projects through different phases of the business life-cycle.
        I have also worked for financial services companies as an engineer. An Engineering Manager at a transportation company, a defense contractor and
        as an Engineer at a healthcare IT company.</p>
        <p>I've worked with Big Data(Databases with Terabytes of Data) and worked on front end user-interface applications using a number of development
        languages and frameworks. I have a wealth of experience in Software Development and Product Development</p>


    </div>
</div>
