@{
    ViewBag.Title = "Home Page";
}
<style>
    .mainImage{
        max-width:100%;
        max-height:100%;
    }
</style>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img class="mainImage image-fluid" src="~/Images/AdobeStock_54491875_TekEngineMain.jpeg" alt="TekEngine Piston" />
            </div>
            <div class="col-sm">
                <h1>TekEngine Consulting</h1>
                <p class="lead text-secondary">TekEngine is a technical and managerial consulting company. We specialize in helping our clients understand and leverage the latest technologies at our disposal. Additionally, we help our clients with managerial issues in establishing/starting a new business.</p>               
            </div>
        </div>
        <p class="mt-5"><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Technical Consulting</h2>
        <p>
            Most small business owners know that a digital presence is essential to raising the visibility of their businesses. 
            For those just starting out this can be a formidable task. Twitter, Facebook, a digital store-front and tying them all together
            can be a challange in and of itself. We can help.
        </p>
        <p><a class="btn btn-default" href="~/Home/TechnicalConsulting">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Managerial Consulting</h2>
        <p>Setting up a new business is not trivial. Understanding business fundamentals is essential to ensure that your
        well-thought out idea has the correct business foundation to help ensure success. Do you know the difference between an LLC and an S Corporation? Have you created a business plan?
        Do you know how to create basic financial statements? Balance Sheets/Income Statements/Statements of Cash Flow? Essential concepts of business
        every small business should know. We can help.</p>
        <p><a class="btn btn-default" href="~/Home/ManagerialConsulting">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Services</h2>
        <p>We offer a variety of services to assist small business owners to establish a digital presence and gain a better understanding
        of the business fundamentals underpinning their business. It is one thing to generate revenue, it is completely another to turn a profit.
        Make sure you understand the difference. Set up a consultation today and learn what TekEngine can do for you. </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>