
@{
    ViewBag.Title = "ManagerialConsulting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .main-img{
        max-width:75%;
        max-height:75%;
    }
</style>
<div class="container-fluid">
    <div class="row flexbox-container">
        <div class="col-sm">
            <img class="img-fluid d-block" src="~/Images/AdobeStock_BusinessConsulting.jpeg" alt="Business Consulting" />
        </div>
        <div class="col-sm text-muted text-justify font-italic align-middle">
            <p>Do you understand the full picture of what's necessary to make your business successful?You are an expert in your domain, let TekEngine help help ensure 
            you are successful in business...</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>Finance and Financials</h3>
            <p>
                Let's face it, financials are not for everyone. Some people just don't like the tedious nature of
                tracking financials. But in business, financials and understanding thereof makes the difference between
                profitability($$) and a money pit or the worst case...bankruptcy. Many small business owners can tell you their revenue and whether
                they are able to make payroll and keep the machines going. But do they understand their cost structure? Know their break-even point?
                and how much they have to sell to make a profit.
                <hr />
                <figure>
                    <img class="figure img-fluid" src="~/Images/profitMargins.jpg" style="max-height:50%;max-width:50%" alt="AreasOfFocus" />
                    <figcaption class="figure-caption"> fig.1 Understanding costs yield opportunities to increase profit margins.</figcaption>
                </figure>
                <hr />
                Do you make/keep financial statements. A Balance Sheet, Income Statements and Cash Flow? You should always have these on hand. For financing, credit appraisal
                or when and if you decide to sell your business.
            </p>
            <p>
                Not everone can afford a full time accountant and an accountant is probably not going to help you determine your unit costs per product. Or how to allocate
                costs if you job-order costing vs process costing. We can help you answer these questions. If you don't understand the financials of your business
                you can't decide whether the new machine is going to pay for itself in 5 years. How much do you have to sell to pay for that machine. Let TekEngine
                help take some of the mystery out of this for you so you can focus on what you do best...your domain. Whether it is selling pastries, running a food truck
                or making custom widgets.Focus on that we will help you get a handle on the financials.
            </p>
            <hr />
                <img class="figure img-fluid" src="~/Images/AdobeStock_129038774_PreviewFinanceConsultant.jpeg" style="max-height:50%;max-width:50%" alt="AreasOfFocus" />
            <hr />
        </div>
        <div class="col-sm-6">
            <h3>Marketing and Operations</h3>
            <p>Financials are required to track the profitabilty of your business, but marketing and operations are essential to increase revenue
            and streamline costs to increase net profits. </p>
            <hr />
            <figure>
                <img class="figure img-fluid" src="~/Images/BusinessAreasOfFocus.jpg"style="max-height:50%;max-width:50%" alt="AreasOfFocus" />
                <figcaption class="figure-caption"> fig.3 All businesses must address these areas to be successful in the marketplace.</figcaption>
            </figure>
            <hr />
            <h4>Operations</h4>
            <p>
                Is your business job-focused or process-focused? In other words do you have a client come in and say "Build this widget for me
                and I will pay $200." Or, do you make 100 widgets and sell them to x number of customers for y$/widget. How do you minimize "cost-of-sales" while
                maximizing profit-margin. We can help you look through your work-flow for inefficiencies and target practices
                that are eating into your margin.
            </p>
            <h4>Marketing</h4>
            <p>Do you have a strategy for gaining visibility with your customers? Have you targeted a given segment to focus on? Do you know who your competitors
            are and how much share they command in the market? These are some of the questions that you should ask before you embark on a venture. If you 
            have revenue projections, this type of marketing analysis underpins those projections. We can help you perform a market analysis. With information
            in hand, you will have much more confidence in your projections going forward.
            </p>
            <p>If you are launching new product, perhaps you need to commission a <b>conjoint analysis</b> to determine what features and attributes are
            valued by your target market segment. We can help you launch a study and analyze the results to ensure your product will meet the needs
            of the marketplace.  Again, this type of study underpins your revenue projections and lends credibility to these numbers.</p>
            <p>Let TekEngine help you understand the full picture before you launch or at least navigate the choppy seas of today's market. </p>

        </div>
    </div>
</div>
